body {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #009996;
  width: auto;
  border: 0px;
}

figure {
  margin: 0;
}

.fondo {
  width: 99%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/portada.jpg) no-repeat top left;
  background-size: cover;
}

h3 {
  flex-basis: 100%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .fondo {
    background-image: url(../images/portada.jpg); /* Imagen específica para móviles */
    background-size: contain; /* Ajusta para que toda la imagen sea visible */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .fondo {
    background-image: url(../images/portada.jpg); /* Imagen para tabletas */
    background-size: cover; /* Mantiene el ajuste completo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
  }
}
